body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, input, label {
  font-size: 10pt;
}


* {
  box-sizing: border-box;
}

.App h2:first-child {
  margin-top: 0;
}

body, #root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  width: 100%;
}

.controls {
  flex: 0;
  background: #fef;
  padding: 5px;
}

.controls label {
  margin-bottom: 5px;
  display: flex;
  min-height: 1.5em;
}

.controls label span {
  flex: 1;
}
.controls label input {
  flex: 1;
}

.map {
  flex: 1;
  background: #eff;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.hidden {
  display: none !important;
}

.controls-button {
  display: block;
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 90001;
}
