* {
  box-sizing: border-box;
}

.App h1, .App h2, .App h3 {
  margin: 3px 0
}

body, #root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  width: 100%;
}

.controls {
  flex: 0;
  background: #fef;
  padding: 5px;
}

.map {
  flex: 1;
  background: #eff;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}
